h1 {
    color: orangered;
    margin: 5px;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-image: url(images/orangeFish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chewy', cursive;
    font-size: 1.5em;
}

main {
    width: 600px;
    margin: 0 auto;
}

.intro {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 0px 20px 0px 20px;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

#generate-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    
}

.input {
    margin: 0px;
    border-radius: 5px;
    padding:8px;
    width: 200px;
}

.size {
    margin: 0px;
    border-radius: 5px;
    padding:8px;
    width: 150px;
}

.gen-button {
    margin: 0px;
    border-radius: 5px;
    padding:10px;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    font-family: Chewy;
    font-size: 1em;
}

.gen-button:hover {
    background-color: orange;
    color: white;
}

.output {
    display: none;
    background-color: hsla(0, 0%, 50%, 0.5);
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;

}

#save-link{
    text-decoration: none;
    margin: 15px;
    border-radius: 5px;
    padding:10px;
    background-color: orangered;
    color: white;
    max-width: fit-content;
    display: flex;
    border: 2px solid black;
  }

#save-link:hover {
    background-color: orange;
    color: white;

}

#qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
}

#generated {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;   
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 2em;
    }
        
    main {
        width: 100%;
    }
}
      